---
import type { getCollection } from "astro:content";
import Main from "./main.astro";

const { post } = Astro.props;
---

<Main title={post.title}>
  <p>Written by {post.author}</p>
  <p>Published on {post.pubDate.toLocaleDateString()}</p>
  <p>{post.description}</p>
  <img style="width: 100%;" src={post.image.url} alt={post.image.alt} />

  <ul class="tags">
    {
      post.tags.map((tag: string) => (
        <li>
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>

  <slot />
</Main>
<style>
  a {
    display: block;
    color: #00539f;
  }

  .tags {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
